.header_div-main {
    height: 70px;
    background-color: rgb(21,32,43);
    display: flex;
    justify-content: space-around;
    color: white;
}
.header-div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
}
.header_div-main img{
    height: 60%;
}
.header_div-tittle {
    width: 600px;
    display: flex;
    align-items: center;
}
.header_div-pesquisar {
    background-color: rgb(39,51,64);
    border-radius: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%
}
.header_div-pesquisar input {
    background-color: rgb(39,51,64);
    font-size: 20px;
}
.header_div-pesquisar img{
    height: 30px;
    margin-right: 20px;
}