.main {
    display: flex;
    min-height: 100vh;
    color: white;
    background-color: rgb(21,32,43);
    justify-content: space-around;
    color: white;
}
.main_div-utilities {
    width: 15%;
}
.main_div-notices {
    width: 25%;
}
.main_div-content{
    width: 45%;
}