.perfilDetails_div-main {
}
#perfilDetails_photo-perfil {
  height: 70%;
  width: 25%;
  position: absolute;
  top: 134px;
  left: 20px;
  border-radius: 50%;
  border: 3px solid grey;
}
.perfilDetails_div-buttonEditar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.perfilDetails_div-buttonEditar button {
  height: 40px;
  width: 120px;
  border-radius: 22%;
  color: white;
  background-color: #1d9bf0;
  border: 2px grey solid;
}
.perfilDetails_div-capa {
  height: 200px;
  position: relative;
}
.perfilDetails_img-capa {
  width: 100%;
  height: 100%;
}
.perfilDetails_div-infos {
  height: 250px;
}
.perfilDetails_div-nicks {
}
.perfilDetails_div-local {
}
.perfilDetails_div-followers {
}
.perfilDetails_div-div div {
  margin: 8px 0;
}
.perfilDetails_button-follow{
}